* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
body {
    background-color: slategray;
}
/*want the header to have a border, close to top, display in line but block other elements*/
header {
        top: 0;
        display:inline-block;
        width: 100%;
        background-color: skyblue;
        border: solid 1px black;
        padding-left: 30px;
        border-radius: 10px;
}
/*want the header navigation bar to float to the right, have a border and background color*/
header nav {
    float: right;
    margin-right: 100px;
    background-color:darkgrey;
    border:black solid 1px;
    border-radius: 10px;
}
/*want the navigation link in the bar to display in a line together, have a little margin to right and have a color of black*/
header nav ul li {
    display: inline;
    margin-right: 20px;
    color: black;
    
}
/*want the main section to stack in a column*/
main {
    display: flex;
    flex-direction: column; 

}
/*want the row class content to center in the page*/ 
.row{
    display: flex;
    justify-content: center;
}
/*want the card class content to be displayed in a line*/
.card{
display: inline;
}
/*changes size of quiz image*/
.main-image{
    width: 908px;
    height: 300px;
}
.side-image{
    width: 300px;
    height: 200px;
}

/*want the links class to be displayed in a row*/
.links{
    display:flex;
    flex-direction: row;
}
/*a lil margin on the left of the list items in the links class*/
.links li{
    margin-left: 50px;
}
/*want the row class content to center on the page*/
.row{
    align-items: center;
}
.left{
    font-size: 24px;
}
/*when the users screen is less than 640px, present attributes*/
@media screen and (max-width: 640px) {
    body {
        background-color: lightgray;
        justify-content: center;

    }
    body header nav ul{
        background-color:lightgray;
        display: flex;
        flex-direction: column;
    }
    .row {
        display:block;

    }
    header {
        text-align: center;
    }
    header nav{
        float: none;
        margin: 0;
    }
    
    
}

